
.datum{
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  background-color: blue;

}

.ueberschrift{
  text-align: center;
}

html {
 
  font-size: 10px;
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
 
  background: #78accd;
  color: #333333;
  font-size: 1.5rem;
  
}
.box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 2em;
}

.box > * {
  flex: 1;
}

ul {
  list-style: none;
  
}

.card {
  background: black;
  max-width: 40rem;
  min-height: 40rem;
  margin: 5rem auto;
  display: grid;
  /*grid-template-rows: 8rem auto 10rem;
  box-shadow: 0 1rem 2.5rem #1b405e;*/
}
.card__header, .card__footer {
  
  padding: 0 1.25rem;
  color: #7d8994;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__body {
  
  padding: 1.5rem 2rem;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
}
.card__body--days {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.card__body--days li {
  
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: grey;
  margin: 0 1px;
}
.card__body--dates {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  text-align: center;
}
.card__body--dates li {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}
.card__body--dates li.prev,
.card__body--dates li.next {
  color: #ccc;
}
.card__body--dates li.active {
  background: #de6e46;
  color: #ffffff;
  border-radius: 50%;
}
.card__body--dates li.circle {
  border: 2px solid;
  border-radius: 50%;
}
.card__body--dates li.circle span {
  position: absolute;
  top: -0.75rem;
  right: -0.5rem;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 50%;
}
.card__body--dates .circle.orange {
  border-color: #de6e46;
}
.card__body--dates .circle.orange span {
  background: #de6e46;
}
.card__body--dates .circle.purple {
  border-color: #ae5989;
}
.card__body--dates .circle.purple span {
  background: #ae5989;
}
.card__footer {
  color: #333333;
  font-weight: bold;
}
.card__footer .add {
  text-decoration: none;
  color: inherit;
  border: 2px solid #de6e46;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 0.25rem;
  display: grid;
  place-items: center;
}